@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";


p{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width: 5px;
  background-color: black;
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #E66900;
}

@font-face {
  font-family: LoveNature;
  src: url("../Love Nature.otf");
}
@font-face {
  font-family: Exo-SemiBold;
  src: url('../Exo-SemiBold.ttf');
}
